body {
    font-family: "Open Sans";
}

a {
    color: #f2264f;
}

i {
    color: #56565a;
}

label {
    font-family: roboto-light;
    font-size: .8rem;
}

hr {
    color: #f7f7f7;
    width: 70%;
    border: 1px solid #f7f7f7;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7
}

input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7
}

input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    font-family: roboto-medium;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    border-radius: 10px;
    border: solid black 1px;
    margin: 0px;
    background: transparent;
    width: 100%;
    text-align: center;
}

input[type=radio].visible:checked+label {
    background: #f2264f;
    color: white;
}

input[type=radio].novisible:checked+label {
    background: #d9534f;
}

.fab>a {
    background-color: transparent;
    box-shadow: none;
}

.fab>a.active-state {
    background-color: transparent;
    box-shadow: none;
}

.boton-fb {
    background-color: #54a3df;
    border: none;
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

.text-rosa {
    color: #f2264f !important;
}

#fuser {
    margin-top: .5rem;
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

.img-menu-profile-div {
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
}

.img-menu-profile-mini {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
}

.login-tabs {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid transparent;
    width: 100%;
    color: #fc2852;
    background-color: #fff !important;
}

.login-tabs-active {
    border-bottom: solid #fc2852;
}

.historial-tabs {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: solid transparent;
    width: 100%;
    color: black;
}

.historial-tabs-active {
    color: white;
    background-color: #fc2852 !important;
}

#letrasrojas {
    color: #fc2852;
    font-family: roboto-medium;
    font-weight: 700;
}

p {
    color: #56565a;
    font-family: roboto-medium;
    font-size: 12px;
    font-weight: 700;
}

#cuadrito {
    width: 50px;
    height: 40px;
    background-color: #f9f9f9;
}

.logo-login-back {
    background-color: #f7f7f7;
    margin-top: 0px !important;
    padding-bottom: 50px;
    padding-top: 50px;
}

.logo-panel-left {
    background-color: #f7f7f7;
    margin-top: 0px !important;
    padding-bottom: 30px;
    padding-top: 30px;
}

.calendar-day .calendar-day-number {
    border-radius: 0% !important;
}

.calendar-day.calendar-day-selected .calendar-day-number {
    background-color: #f2264f !important;
}

.calendar-day-today .calendar-day-number {
    color: #f2264f !important;
}

.calendar-day-selected .calendar-day-number {
    color: #fff !important;
}

.toolbar {
    background-color: transparent !important;
}

.calendar-week-header {
    background-color: transparent !important;
    border-bottom: solid 2px #fc2852;
}

#calendario-left {
    margin-left: 2rem;
    font-size: 1.3rem;
}

#calendario-right {
    margin-right: 2rem;
    font-size: 1.3rem;
}

#contrasenia {
    color: #56565a;
    font-family: roboto-light;
    font-size: 14px;
    font-weight: 300;
}

.categoria-seleccion {
    outline-width: thin;
    outline-color: grey;
    font-size: 2rem;
    border: .5px solid gray;
    height: 60px;
}

.cupo-cita-btn {
    color: black;
    outline-width: thin;
    outline-color: grey;
    font-size: 25px;
    border: .5px solid gray;
    height: 50px;
    width: 100%;
}

.horario-dias-btn {
    color: black;
    outline-width: thin;
    outline-color: grey;
    font-size: 13px;
    border: .5px solid gray;
}

.horario-horas-btn {
    opacity: 0.5;
    color: black;
    outline-width: thin;
    outline-color: grey;
    font-size: 15px;
    border: .5px solid gray;
    height: 50px;
}

.tipo-pago-btn {
    color: black;
    font-size: 14px;
    border: .5px solid gray;
    height: 70px;
    width: 100%;
}

.guardar-cambios-btn {
    background-color: #19BA88;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

.editar-fotografia {
    height: 150px;
    width: 100%;
    filter: brightness(30%);
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.container {
    position: relative;
}

.text-gris {
    color: #56565a;
}

.calendar-custom-toolbar .center {
    font-family: roboto-bold;
    color: #f2264f;
}

.boton-active {
    background-color: #f2264f;
    color: white !important;
    opacity: 1;
}

.boton-active-categoria {
    border: solid #f2264f 1px;
    color: #f2264f !important;
    opacity: 1;
}

.boton-active-categoria i {
    border: solid transparent 1px;
}

.ajustar-tabs {
    height: 10px;
}


/***********************Estilos de ejemplo para el modal ******************************************/

@import 'https://fonts.googleapis.com/css?family=Prompt:400,700';
.modal {
    /* This way it could be display flex or grid or whatever also. */
    display: block;
    /* Probably need media queries here */
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    /* Use this for centering if unknown width/height */
    transform: translate(-50%, -50%);
    /* If known, negative margins are probably better (less chance of blurry text). */
    /* margin: -200px 0 0 -200px; */
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

.modal-guts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 20px 50px 20px 20px;
}

.modal .close-button {
    position: absolute;
    /* don't need to go crazy with z-index here, just sits over .modal-guts */
    z-index: 1;
    top: 10px;
    /* needs to look OK with or without scrollbar */
    right: 20px;
    border: 0;
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
}

.open-button {
    border: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightgreen;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 21px;
}

.tab-link-active {
    background-color: #f2264f;
}

.tab-link {
    color: #000;
}

.categoria-filtrar-boton {
    color: black;
    font-family: roboto-light;
    font-size: .6rem;
}

.page-gray {
    background-color: #FAFBFE;
}

.btn-cerrar-cat-sel {
    width: 100%;
    text-align: right;
}

.btn-search {
    font-size: 1.5rem;
    padding-top: 1.5rem;
}


/*estilos brayam*/

.img-wave {
    width: 100%;
}

.btn-round-red {
    background-color: #F8313E;
    color: white !important;
    font-size: 15px;
    letter-spacing: .3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: .4s;
}

.div-info-header {
    padding-top: 145px;
    text-align: center;
    padding-bottom: 165px;
}

.div-info-header .p1 {
    font-family: "Gilroy Bold";
    color: white;
    font-size: 70px;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
}

.div-info-header .p2 {
    font-family: "Open Sans";
    color: rgba(255, 255, 255, .7);
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.div-info-header a {
    color: rgba(255, 255, 255, .6);
    border-radius: 100px;
    border: 1.5px solid rgba(255, 255, 255, .6);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: .4s;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
}

.div-info-header a:active,
.div-info-header a:focus {
    box-shadow: none;
    outline: 0;
}

.sec-services {
    padding-top: 70px;
    padding-bottom: 70px;
}

.div-sec-title {
    padding-bottom: 100px;
    text-align: center;
}

.div-sec-title .p1 {
    font-family: "Gilroy Bold";
    letter-spacing: 5px;
    font-size: 28px;
    text-transform: uppercase;
}

.div-sec-title .p2 {
    font-family: "Open Sans";
    color: rgba(0, 0, 0, .5);
    font-size: 16px;
}

.div-sec-title .line-red {
    border-top: 3px solid #F8313E;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 25px;
    margin-bottom: 30px;
}

.div-item-services {
    text-align: center;
}

.div-item-services .icon-services {
    border-radius: 100px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    text-align: center;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 35px;
    color: #F8313E !important;
    cursor: default;
    transition: .4s;
}

.div-item-services .p1 {
    font-family: "Gilroy Bold";
    padding-top: 55px;
    font-size: 26px;
    letter-spacing: 1px;
}

.div-item-services .p2 {
    font-family: "Open Sans";
    font-size: 15px;
    color: rgba(0, 0, 0, .6);
    line-height: 25px;
}

.sec-paquetes {
    background-color: #FAFBFE;
    padding-top: 70px;
    padding-bottom: 100px;
}

.row-paquetes {
    margin-top: -40px;
}

.div-item-paquetes {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.08);
    padding-top: 40px;
    padding-bottom: 45px;
    transition: .4s;
}

.title-item-paquetes {
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}

.title-item-paquetes .p1 {
    font-family: "Gilroy Bold";
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 21px;
    color: rgba(0, 0, 0, .3);
    margin-bottom: 0px;
}

.title-item-paquetes .p2 {
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-size: 42px;
    color: rgba(0, 0, 0, .8);
    margin-bottom: 0px;
    padding-top: 10px;
}

.title-item-paquetes .p2 sup {
    font-family: "Open Sans";
    letter-spacing: 1px;
    font-size: 25px;
    color: rgba(0, 0, 0, .8);
    font-weight: 600;
}

.title-item-paquetes .p3 {
    font-family: "Gilroy Bold";
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: rgba(0, 0, 0, .3);
    margin-bottom: 30px;
    padding-top: 11px;
}

.info-item-paquetes {
    text-align: center;
}

.info-item-paquetes .p1 {
    font-family: "Open Sans";
    color: rgba(0, 0, 0, .8);
    line-height: 45px;
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.info-item-paquetes a {
    background-color: #F8313E;
    color: white !important;
    font-size: 15px;
    letter-spacing: .3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: .4s;
}

.sec-contacto {
    padding-top: 70px;
    padding-bottom: 100px;
}

.form-contacto {
    margin-top: -40px;
}

.form-contacto input {
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 22px;
    font-family: "Open Sans";
    font-size: 15px;
    transition: .4s;
}

.form-contacto input::placeholder {
    color: rgba(0, 0, 0, .6);
    transition: .4s;
}

.form-contacto input:active,
.form-contacto input:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid #2B2A2A;
    transition: .4s;
}

.form-contacto textarea {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 22px;
    font-family: "Open Sans";
    font-size: 15px;
    transition: .4s;
}

.form-contacto textarea::placeholder {
    color: rgba(0, 0, 0, .6);
    transition: .4s;
}

.form-contacto textarea:active,
.form-contacto textarea:focus {
    box-shadow: none;
    outline: 0;
    border: 1px solid #2B2A2A;
    transition: .4s;
}

.form-contacto .form-group {
    margin-bottom: 20px;
}

.btn-enviar-mensaje {
    background-color: #F8313E;
    color: white !important;
    font-size: 15px;
    letter-spacing: .3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 16px;
    border-radius: 100px;
    border: none;
    transition: .4s;
    margin-top: 15px;
}

.sec-social {
    background-color: #FAFBFE;
    padding-top: 60px;
    padding-bottom: 60px;
}

.p-atencion {
    margin-bottom: 0px;
    font-family: "Open Sans";
    color: rgba(0, 0, 0, .2);
    font-size: 22px;
}

.p-phone {
    font-family: "Open Sans";
    font-size: 17px;
    color: rgba(0, 0, 0, .3);
    margin-bottom: 0px;
    padding-top: 1px;
    text-align: center;
}

.p-phone i {
    color: #F8313E;
    margin-right: 15px;
}

footer {
    background-color: #2B2A2A;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer .p1 {
    color: rgba(255, 255, 255, .4);
    font-family: "Open Sans";
    font-size: 15px;
    margin-bottom: 0px;
}

footer .p2 {
    text-align: right;
    margin-bottom: 0px;
}

.btn-social {
    color: rgba(255, 255, 255, .3);
    font-size: 22px;
    margin-right: 30px;
    transition: .4s;
}

.navbar-pages {
    background-color: transparent !important;
}

.sec-navbar {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.1);
    position: relative;
    ;
}

.navbar-pages .nav-link {
    color: rgba(0, 0, 0, .5) !important;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    transition: .4s;
    font-weight: 600;
}

.navbar-index .nav-item {
    padding-left: 10px;
}

.navbar-pages .active .nav-link {
    color: black !important;
}

.btn-round-red-pages {
    background-color: #F8313E;
    color: white !important;
    font-size: 15px;
    letter-spacing: .3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 11px;
    padding-bottom: 13px;
    border-radius: 100px;
    border: none;
    transition: .4s;
}

.sec-gray {
    background-color: #FAFBFE;
    padding-top: 100px;
    padding-bottom: 100px;
}

.d-form-login {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.08);
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    transition: .4s;
}

.hr-form {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #F8313E;
    margin: 1em 0;
    padding: 0;
    width: 45px;
}

.title-form {
    font-family: "Open Sans";
    font-size: 25px;
    margin-bottom: 5px;
}

.sub-title-form {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
}

.form-login,
.form-registro {
    padding-top: 20px;
}

.input-form {
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 25px;
    border-radius: 5px;
    transition: .4s;
    background-color: transparent;
}

.input-form::placeholder {
    color: rgba(0, 0, 0, .3);
    font-weight: 600;
}

.input-form:focus,
.input-form:active {
    box-shadow: none;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, .5);
}

.btn-red-form {
    background-color: #F8313E;
    border: none;
    color: white;
    font-size: 15px;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 15px;
    transition: .4s;
    border-radius: 5px;
    letter-spacing: .5px;
}

.bottom-text-form {
    text-align: center;
    padding-top: 40px;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    line-height: 1.9;
}

.bottom-text-form a {
    color: #F8313E;
    font-weight: 600;
    transition: .4s;
    text-decoration: none;
}

.modal-content {
    border: none;
    text-align: center;
    padding-bottom: 20px;
}

.modal-content-realizar-cita {
    border: none;
    text-align: center;
    padding-bottom: 20px;
    background-color: transparent;
}

.modal-header {
    border: none;
    padding-bottom: 0px;
}

.modal-footer {
    text-align: center !important;
}

.modal-body {
    padding-top: 0px;
}

.modal-title {
    padding: 0px;
    color: #9FA1A2;
    font-size: 25px;
}

.info-modal {
    padding-top: 10px;
}

.info-modal .t1 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin-bottom: 10px;
}

.info-modal .t2 {
    font-size: 20px;
}

.btns-modal a {
    background-color: #EDEFF2;
    border: none;
    color: rgba(0, 0, 0, .5);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    transition: .4s;
    margin-left: 5px;
    margin-right: 5px;
}

.icon-atencion {
    padding-bottom: 7px;
}

.icon-atencion img {
    width: 85px;
}

.username-nav {
    color: rgba(0, 0, 0, .5) !important;
    font-family: "Open Sans";
    font-size: 13px;
    transition: .4s;
    font-weight: 600;
    padding-top: 15px;
    padding-right: 40px;
}

.row-servicios-disp {
    padding-top: 20px;
    padding-bottom: 30px;
}

.d-input-search {
    padding-top: 12px;
}

.input-search-servicios {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    padding-left: 40px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 100px;
    background-image: url(../images/busqueda.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: bottom 20px right 30px;
    transition: .4s;
    font-size: 15px;
}

.input-search-servicios::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-search-servicios:active,
.input-search-servicios:focus {
    box-shadow: none;
    outline: 0;
    transition: .4s;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.08);
    box-shadow: 0px 20px 50px 0px rgba(12, 0, 46, 0.08);
}

.d-ver-categorias {
    text-align: right;
}

.btn-ver-categorias {
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #F8313E;
    transition: .4s;
}

.btn-ver-categorias:focus,
.btn-ver-categorias:active {
    box-shadow: none;
    outline: 0;
}

.item-servicio-usuario {
    background-color: white;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    border-radius: 15px;
    margin-bottom: 30px;
}

.d-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#servicio-usuario-1 {
    background-image: url(../images/servicio-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-2 {
    background-image: url(../images/servicio-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-3 {
    background-image: url(../images/servicio-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-4 {
    background-image: url(../images/servicio-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-5 {
    background-image: url(../images/servicio-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
}

#servicio-usuario-6 {
    background-image: url(../images/servicio-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-7 {
    background-image: url(../images/servicio-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

#servicio-usuario-8 {
    background-image: url(../images/servicio-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}

.d-info-servicio-usuario {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 13px;
}

.d-info-servicio-usuario .t1 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.d-info-servicio-usuario .t1 img {
    width: 45px;
    margin-right: 15px;
}

.d-info-servicio-usuario .d2 {
    padding-top: 0px;
    padding-bottom: 7px;
}

.d-info-servicio-usuario .d2 .t1 {
    font-size: 12px;
    margin-bottom: 0px;
}

.d-info-servicio-usuario .d2 .t2 {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 0px;
}

.d-info-servicio-usuario .d3 {
    text-align: center;
    padding-top: 10px;
}

.btn-realizar-cita {
    background-color: #D2FAFF;
    color: #008A9F;
    font-weight: 600;
    font-size: 12px;
    border-radius: 100px;
}

.btn-eliminar {
    background-color: #F8313E;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    transition: .4s;
}

.btn-eliminar:active,
.btn-eliminar:focus {
    box-shadow: none;
    outline: 0;
}

.btn-realizar-cita:active,
.btn-realizar-cita:focus {
    box-shadow: none;
    outline: 0;
}

.row-foto-nombre-perfil img {
    width: 140px;
}

.d-info-nombre-perfil {
    padding-top: 32px;
}

.d-info-nombre-perfil .t1 {
    font-size: 25px;
    margin-bottom: 7px;
}

.d-info-nombre-perfil .t2 {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
}

.d-info-nombre-perfil .t2 b {
    font-size: 16px;
    color: #01C75B;
    font-weight: 600;
    padding-left: 10px;
}

.row-perfil {
    padding-top: 50px;
}

.d-info-perfil {
    padding-top: 40px;
    padding-bottom: 50px;
}

.d-info-perfil .d2 {
    padding-bottom: 25px;
}

.d-info-perfil .d2 .t1 {
    margin-bottom: 3px;
    font-size: 15px;
}

.d-info-perfil .d2 .t2 {
    margin-bottom: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
}

.d-title-metodos {
    padding-top: 30px;
}

.d-title-metodos .t1 {
    font-size: 25px;
    margin-bottom: 8px;
}

.d-title-metodos .t2 {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
}

.d-item-tarjeta-nueva {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    text-align: center;
    margin-bottom: 25px;
    transition: .4s;
}

.d-item-tarjeta-nueva i {
    font-size: 35px;
    color: rgba(0, 0, 0, .1);
}

.d-item-tarjeta-nueva .t1 {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    padding-top: 10px;
    margin-bottom: 0px;
}

.d-item-tarjeta {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    box-shadow: 0px 0px 50px 0px rgba(12, 0, 46, 0.07);
    margin-bottom: 25px;
    transition: .4s;
}

.d-item-tarjeta .t1 {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    padding-top: 10px;
    margin-bottom: 0px;
}

.d-img-card img {
    width: 40px;
}

.d-number-card .t1 {
    text-align: right;
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    padding-top: 3px;
    margin-bottom: 0px;
}

.d-name-card {
    padding-top: 3px;
}

.d-name-card .t1 {
    font-size: 13px;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 5px;
}

.d-name-card .t2 {
    font-size: 13px;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 0px;
}

.d-btn-card {
    text-align: right;
}

.d-btn-card a {
    padding: 0px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.3);
}

.d-btn-card a:active,
.d-btn-card a:focus {
    box-shadow: none;
    outline: 0;
}

.p-modal {
    text-align: left;
    font-size: 18px;
}

.modal-gray {
    background-color: #F4F4F4;
}

.d-item-modal {
    background-color: #F4F4F4;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.d-item-modal {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
}

.d-item-modal .t1 {
    margin-bottom: 0px;
}

.item-modal-active {
    background-color: #F8313E !important;
    color: white !important;
}

.item-modal-active i {
    color: white !important;
}

.item-modal-active p {
    color: white !important;
}

.row-filtrar-modal {
    padding-top: 20px;
}

.d-item-modal-filtrar {
    background-color: #F4F4F4;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.d-item-modal-filtrar {
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
}

.d-item-modal-filtrar .t1 {
    margin-bottom: 0px;
}

.d-item-modal-filtrar i {
    font-size: 30px;
    padding-bottom: 5px;
}

.d-btn-aplicar-filtros {
    text-align: left;
    padding-top: 20px;
}

.btn-primary-modal {
    background-color: #D2FAFF;
    color: #008A9F;
    font-size: 14px;
    border-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 37px;
    padding-right: 37px;
}

.btn-primary-modal:active,
.btn-primary-modal:focus {
    box-shadow: none;
    outline: 0;
}

.btn-secondary-modal {
    background-color: #F4F4F4;
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    border-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 37px;
    padding-right: 37px;
}

.btn-secondary-modal:active,
.btn-secondary-modal:focus {
    box-shadow: none;
    outline: 0;
}

.modal-header-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.overlay-black {
    position: relative;
    z-index: 1;
}

.overlay-black:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00293c+1,26445c+100 */
    background: black;
    opacity: 0.5;
    /* IE6-9 fallback on horizontal gradient */
    z-index: -2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.overlay-black-2 {
    position: relative;
    z-index: 1;
}

.overlay-black-2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00293c+1,26445c+100 */
    background: black;
    opacity: 0.2;
    /* IE6-9 fallback on horizontal gradient */
    z-index: -2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.close-white {
    color: white;
    text-shadow: none;
}

.close-white:active,
.close-white:focus {
    box-shadow: none;
    outline: 0;
}

.modal-body-realizar-cita {
    padding-top: 20px;
    text-align: left;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title-modal {
    font-size: 20px;
}

.row-info-servicio {
    padding-top: 10px;
    padding-bottom: 20px;
}

.d-item-info-servicio .t1 {
    margin-bottom: 2px;
    font-size: 14px;
}

.d-item-info-servicio .t2 {
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
}

.row-btns-modal {
    padding-bottom: 20px;
}

.sub-title {
    color: rgba(0, 0, 0, .4);
    font-size: 16px;
    padding-top: 10px;
}

.d-img-upload {
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.05);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.05);
    padding-top: 70px;
    padding-bottom: 70px;
    transition: .4s;
    text-align: center;
}

.d-img-upload i {
    font-size: 60px;
    color: rgba(0, 0, 0, .18);
}

.row-form-nuevo-servicio {
    padding-top: 50px;
}

.d-up-ns {
    padding-top: 40px;
    padding-bottom: 40px;
}

.custom-file-label {
    background-color: transparent;
    border: none;
    font-weight: 400;
    padding-left: 0px;
}

.custom-file-input:active,
.custom-file-input:focus {
    box-shadow: none;
    outline: 0;
}

.d-item-categoria-ns {
    background-color: white;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.d-item-categoria-ns {
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.05);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.05);
}

.d-item-categoria-ns .t1 {
    margin-bottom: 0px;
}

.d-item-categoria-ns-active {
    background-color: #F8313E !important;
    color: white !important;
}

.d-item-categoria-ns i {
    font-size: 30px;
    padding-bottom: 5px;
}

.text-muted {
    padding-top: 5px;
    color: rgba(0, 0, 0, .5) !important;
}

.p-form {
    font-size: 15px;
    margin-bottom: 10px;
}

.d-dia {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    font-weight: 600;
    font-size: 16px;
}

.d-dia-active {
    background-color: #F8313E !important;
    color: white !important;
}


/* Reset Select */

.select-horario {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #E9ECEF;
    background-image: none;
}


/* Remove IE arrow */

.select-horario::-ms-expand {
    display: none;
}


/* Custom Select */

.select {
    position: relative;
    display: flex;
    height: 5em;
    line-height: 3;
    background-color: #F4F4F4 !important;
    overflow: hidden;
    border-radius: .5em;
    text-align: center;
    text-align-last: center;
}

.select-horario {
    flex: 1;
    padding: 0 .5em;
    color: rgba(0, 0, 0, .5);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.row-select-horario {
    padding-top: 20px;
}

.d-row-right {
    text-align: center;
    padding-top: 56px;
}

.d-row-right i {
    font-size: 30px;
    color: rgba(0, 0, 0, .3);
}

.d-item-costo {
    background-color: white;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-agendar-cita {
    padding-top: 50px;
}

.d-img-agendar-cita {
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.d-agendar-cita {
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    background-color: white;
    border-radius: 15px;
}

.d-info-agendar-cita {
    padding: 40px;
}

.small-text {
    font-size: 13px;
    color: rgba(0, 0, 0, .5);
    padding-top: 20px;
}

.btn-lg-blue {
    background-color: #D2FAFF;
    color: #008A9F;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}

.btn-lg-blue:active,
.btn-lg-blue:focus {
    box-shadow: none;
    outline: 0;
}

.input-fecha {
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: #E9ECEF;
    overflow: hidden;
    border-radius: .5em;
    text-align: center;
    text-align-last: center;
    font-size: 14px;
    border: none;
    width: 100%;
    color: rgba(0, 0, 0, 0.5) !important;
    font-weight: 600;
    padding-left: 33px;
}

.input-fecha:active,
.input-fecha:focus {
    border: none;
    box-shadow: none;
    outline: 0;
}

.d-head {
    background-color: #EEEFF2;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.d-head .active {
    color: black;
}

.d-head a {
    color: rgba(0, 0, 0, .4);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 5px;
    text-decoration: none;
    transition: .4s;
}

.row-mi-agenda {
    padding-top: 30px;
}

.d-calendar {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
}

#calendar {
    width: 100%;
}

.fc-event {
    cursor: pointer !important;
    border-radius: 0 !important;
    border: none !important;
    text-align: left;
}

.fc-center h2::first-letter {
    text-transform: uppercase;
}

.fc-center h2 {
    font-weight: 300;
    color: rgba(0, 0, 0, .5);
}

.fc-header-toolbar {
    padding-bottom: 15px;
}

.fc-button {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, .3);
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    transition: .4s;
}

.fc-button:focus,
.fc-button:active {
    border: none;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
}

.fc-day-header {
    text-transform: capitalize;
    color: rgba(0, 0, 0, .4);
}

.fc th {
    text-align: r;
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
}

.fc td {
    border: 1px solid rgba(0, 0, 0, .1);
}

.fc-event,
.fc-event-dot {
    background-color: #D2FAFF;
    padding-top: 8px;
    padding-left: 5px;
    padding-bottom: 8px;
}

.fc-title {
    font-size: 12px;
    color: #008A9F;
}

.fc-time {
    color: #008A9F;
}

.d-cita {
    margin-bottom: 1rem;
}

.d-cita-pro .d-title {
    background-color: #D2FAFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #008A9F;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
}

.d-cita-pro .d-info {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-box-shadow: 0px 30px 50px 0px rgba(12, 0, 46, 0.1);
    box-shadow: 0px 30px 70px 0px rgba(12, 0, 46, 0.1);
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.d-cita-pro .d-img-name {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 20px;
}

.d-cita-pro .d-img-name img {
    width: 60px;
    float: left;
    margin-right: 20px;
}

.d-cita-pro .d-img-name .t1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    padding-top: 8px;
}

.d-cita-pro .d-img-name .t2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}

.d-cita-pro .d-datos .t1 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    padding-top: 6px;
}

.d-cita-pro .d-datos .t2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.d-cita-pro .d-datos {
    padding-top: 10px;
}

.d-item-citas {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.d-item-citas .t1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
}

.d-item-citas .t2 {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    margin-top: -5px;
    font-weight: 600;
    margin-bottom: 0px;
}

.d-item-citas .d-img-name img {
    width: 60px;
    float: left;
    margin-right: 20px;
}

.d-item-citas .d-img-name .t1 {
    font-size: 17px;
    margin-bottom: 0px;
    padding-top: 6px;
}

.d-item-citas .d-img-name .t2 {
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, .5);
}

.d-item-citas .d-img-name .t2 b {
    color: #02C59B;
    font-weight: 600;
}

.d-text-cita .t1 {
    font-size: 17px;
    margin-bottom: 0px;
    padding-top: 6px;
}

.d-text-cita .t2 {
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, .5);
}

.d-text-cita {
    padding-top: 20px;
}

.btn-ver-cita {
    background-color: #D2FAFF;
    color: #008A9F;
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

.btn-ver-cita:active,
.btn-ver-cita:focus {
    box-shadow: none;
    outline: 0;
}

.btn-ver-cita i {
    margin-right: 10px;
}

.d-alert-citas {
    padding-top: 13px;
}

.alert-info {
    background-color: #D2FAFF;
    color: #008A9F;
    font-size: 17px;
}

.alert-info b {
    font-weight: 700;
}

.d-btn-nuevo-evento {
    padding-top: 20px;
}

.btn-nuevo-evento {
    color: rgba(0, 0, 0, .5);
    transition: .4s;
    text-decoration: none;
}

.btn-nuevo-evento i {
    margin-right: 10px;
    opacity: .5;
}

.select-nuevo-evento {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 60px;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.citas {
    width: 41%;
    overflow-y: scroll;
    max-height: 42rem;
}

.d-button-editar {
    width: 100%;
    border: none;
    padding: 1rem;
    background: #252525;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.d-button-eliminar {
    width: 100%;
    border: none;
    padding: 1rem;
    background: #F8313E;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.btn-cancelar {
    width: 100%;
    border: none;
    padding: 1rem;
    background: #F8313E;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.info-modal .t-bottom {
    color: rgba(0, 0, 0, .5);
    font-size: 14px;
    margin-bottom: 30px;
}

.bg-gray {
    background-color: #F4F4F4;
}

.sec-menu-movil {
    padding-top: 50px;
    padding-bottom: 100px;
}

.d-menu-lg {
    position: relative;
    border-radius: 10px;
    background-color: white;
    height: 150px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.d-menu-lg .t1 {
    position: absolute;
    bottom: 12px;
    margin-bottom: 0px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: "Poppins";
    font-size: 14px;
    color: white;
}

.auto {
    background-color: #F8313E;
    background-image: url('../images/automotriz.png');
    background-size: 140px;
    background-position: 70px -10px;
    background-repeat: no-repeat;
}

.citas-medicas {
    background-color: #2B2A2A;
    background-image: url('../images/citas-medicas.png');
    background-size: 180px;
    background-position: 55px -35px;
    background-repeat: no-repeat;
}

.row-menu-2 {
    padding-top: 25px;
}

.d-menu {
    margin-bottom: 15px;
}

.d-menu .item {
    border-radius: 10px;
    height: 60px;
    text-align: center;
    font-size: 26px;
    padding-top: 15px;
    color: #FFFFFF;
}

.d-menu .t1 {
    font-family: "Open Sans";
    text-align: center;
    margin-bottom: 0px;
    font-size: 12px;
    padding-top: 5px;
}

.d-menu i {
    color: white;
}

.d-menu .d-1 {
    background-color: #ECC8FD;
}

.d-menu .d-2 {
    background-color: #BDE16C;
}

.d-menu .d-3 {
    background-color: #FAE49E;
}

.d-menu .d-4 {
    background-color: #C0D5FA;
}

.d-menu .d-5 {
    background-color: #A1EBEB;
}

.d-menu .d-6 {
    background-color: #FBD4BE;
}

.d-menu .d-7 {
    background-color: #F9ACC7;
}

.d-menu .d-8 {
    background-color: #FD8003;
}

.toolbar-inner {
    justify-content: space-around;
}