.boton {
  background-color: #54a3dfff;
  border: none;
  color: white;
  padding: 15px 0px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
a{
  color: #f2264ff5;
}

#letrasrojas{
	color: #fc2852;
}

p {
	color: #56565a;
	font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
} 

#cuadrito{
	width: 50px;
	height:40px;
	background-color: #f9f9f9;
}